@import url('https://fonts.googleapis.com/css2?family=Coda&&family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #fff;
  --color-secondary: #a7a9a8;
  --color-header-text: #fff;
  --color-main-text: #e0ffff;
  --color-background-header: #6d6d6d;
  --color-background-main: #212121;
  --color-background-card: #3c3e44;
  --color-links: #fd7a00;

  /* FONT */
  --font-family-headline: 'Coda', cursive;
  --font-family-text: 'Roboto Mono', monospace;

  /* BORDERS */
  --border-radius: 1rem;
}

body {
  font-family: var(--font-family-text);

  /* background-color: var(--color-background-main); */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headline);
}

a {
  color: var(--color-links);
}

.header {
  background-color: var(--color-background-header);
  color: var(--color-header-text);
  text-align: center;
  padding: 6rem 2rem;
}

.main {
  display: grid;
  row-gap: 1rem;
  background-color: var(--color-background-main);
  color: var(--color-main-text);
  padding: 2rem 2rem;
}
